{{page-title "Utilisateurs"}}

<header class="page-header">
  <h1 class="page-title">Rechercher un(des) utilisateur(s)</h1>
  <div class="page-actions">
    <form class="form-inline" {{on "submit" this.refreshModel}}>
      <Input id="firstName" placeholder="Prénom" @type="text" @value={{this.firstNameForm}} />
      <Input id="lastName" placeholder="Nom" @type="text" @value={{this.lastNameForm}} />
      <Input id="email" placeholder="Email" @type="text" @value={{this.emailForm}} />

      <PixButton @size="small" @type="submit">Charger</PixButton>
    </form>
  </div>
</header>

<main class="page-body">
  <section class="page-section">
    <Users::ListItems
      @users={{@model}}
      @firstName={{this.firstName}}
      @lastName={{this.lastName}}
      @email={{this.email}}
    />
  </section>
</main>